.header{

    height: 80px;
    background-color: #1C2B35;
    display: flex
    ;
    justify-content: space-between;
    align-items: center;

   padding-left: 112px;
   padding-right: 97px;
   
    
font-family: Lato;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.005em;



    ;

}

.header div a{

    text-decoration: none;
    margin-left: 32px;
}
.header div a:hover{
    color: rgb(153, 67, 67);
}

.link{
    color: aliceblue;
}
