
.shop-container{
    display: grid;

    grid-template-columns:  4fr 1fr;
    
    margin-left: 5%;
   
}

.products-container{
   display: grid;
   grid-template-columns: repeat(3,1fr) ;
   gap: 20px;


}

.pagination{
    display: block;
   text-align: center;
    margin-bottom: 50px;
    background-color: aqua;
}

.selected{
    background-color: orange;
}
